.user {
    text-align: left;
    font-weight: bold;
}
.try {
    color:#a1a8d3
}
h2{
    text-align: center;
    margin-top: 0px;
    width: 100%;
    align-self: center;
}
.textTitle{
    font-size: x-small;
    padding: 0;
    margin: 0;
}
.button {
    border: 0px;
    outline: none;
    background-color: transparent;
    padding: 5px;
    text-align: left;
    display: inline-block;
    font-size: 14px;
    margin: 2%;
    cursor: pointer;
}

.button:hover {
    background-color: #898989;
    border-radius: 5px;
}